<head><title>New Task</title>
<link rel="stylesheet" type="text/css" href="[[PISSROOT]]/js/ext-all.css" />
<link rel="stylesheet" type="text/css" href="[[PISSROOT]]/js/xtheme-gray.css" />

<LINK REL=stylesheet HREF="[[PISSROOT]]/traq.css" TYPE="text/css">
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<TR class="form_header">
	<td width=15></td>
	<td >
		<div id="container">
    		<div id="toolbar"><a href="[[PISSROOT]]/">Projectraq</a> <a href="[[PISSROOT]]/display_query.cgi?dhtml=1&cat=bug">Find bugs</a> <a href="[[PISSROOT]]/display_query.cgi?dhtml=1&cat=task">Find tasks</a></div>
		</div>
	</td>
	<TD width=65% align=left style="height:35px;padding-left:30px;" valign="middle">
	</TD>
	</TR>
</table>


<P><FONT SIZE="2">Click on the project you 
  wish to file a task against. If this is an IT related issue, please open a help 
  desk ticket. </FONT></P>
<TABLE CELLPADDING="2">
  <TR BGCOLOR="FEEB7D"> 
    <TD COLSPAN="3"> 
      <CENTER>
        <FONT SIZE="2"><B><FONT COLOR="1A355F" FACE="Arial, Helvetica, sans-serif">[[PROJECTIDLABEL]](s)</FONT></B> 
        </FONT> 
      </CENTER>
    </TD>
  </TR>
  [[BEGIN1]]
			<tr><td><a href="enterTaskForm.cgi?rtype=task&projectid=[[projectid]]"><b>[[project]]</b></a></td><td>[[description]]</td></tr>
  [[END1]]
</TABLE>
<HR>
<FONT SIZE="2">If you do not see your product 
listed above, please contact <A HREF="mailto:[[webmaster]]">[[webmaster]]</A>.</FONT> 
<script src="[[PISSROOT]]/js/ext-base.js" type="text/javascript"></script>
<script src="[[PISSROOT]]/js/ext-all.js" type="text/javascript"></script>
<script type="text/javascript" src="[[PISSROOT]]/js/ptlib.js"></script>
<script>
[[HEADER]]
</script>
</body>
</html>
