var bulkform=document.getElementById('main');
[[JS]]
divloader.data=true;
divloader.datastore='';
divloader.datastore+='<FORM id=bulk name=bulk ACTION="quickaction.cgi" METHOD=POST >';
divloader.datastore+='<input type=hidden name=action value=Change>';
divloader.datastore+='<table class=form_table cellpadding=3 cellspacing=0 >';
divloader.datastore+='<tr>';
divloader.datastore+='<td align="right" class="fieldlabel">';
divloader.datastore+='[[PROJECTIDLABEL]]:';
divloader.datastore+='</td>';
divloader.datastore+='<td><select name=projectid onChange="dyn_menu(this.form.projectid,\'componentid\');">';
divloader.datastore+='  <option selected value=> ';
divloader.datastore+='[[PROJECTID_OPTIONLIST]]';
divloader.datastore+='</select></td>';
divloader.datastore+='<td align="right" class="fieldlabel">[[COMPONENTIDLABEL]]:</td>';
divloader.datastore+='<td><select name=componentid id=componentid>';
divloader.datastore+='</select></td>';
divloader.datastore+='</tr>';
divloader.datastore+='<tr>';
divloader.datastore+='<td align="right" class="fieldlabel">[[MILESTONELABEL]]:</td>';
divloader.datastore+='<td><select name=target_milestone>';
divloader.datastore+='  <option selected value=> [[MILESTONE_OPTIONLIST]]';
divloader.datastore+='</select></td>';
divloader.datastore+='</tr>';
divloader.datastore+='<tr>';
divloader.datastore+='<td align="right" class="fieldlabel">';
divloader.datastore+='[[ASSIGNED_TOLABEL]]:';
divloader.datastore+='</td>';
divloader.datastore+='<td><select name=assigned_to>';
divloader.datastore+='  <option selected value=> [[USER_OPTIONLIST]]';
divloader.datastore+='</select></td>';
divloader.datastore+='<td align="right" class="fieldlabel">[[ISSUE_TYPELABEL]]:</td>';
divloader.datastore+='<td><select name=issue_type>';
divloader.datastore+='  <option selected value=> [[ISSUE_TYPE_OPTIONLIST]]';
divloader.datastore+='</select></td>';
divloader.datastore+='</tr>';
divloader.datastore+='<tr>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[TECH_CONTACTLABEL]]:</td>';
divloader.datastore+='  <td><select name=tech_contact>';
divloader.datastore+='    <option selected value=> [[USER_OPTIONLIST]]';
divloader.datastore+='  </select></td>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[START_DATELABEL]]:</td>';
divloader.datastore+='  <td><input type=text size=10 name=start_date id=start_date>';
divloader.datastore+='&nbsp;</td>';
divloader.datastore+='</tr>';
divloader.datastore+='<tr>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[QA_CONTACTLABEL]]:</td>';
divloader.datastore+='  <td><select name=qa_contact>';
divloader.datastore+='    <option selected value=> [[USER_OPTIONLIST]]';
divloader.datastore+='  </select></td>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[TARGET_DATELABEL]]:</td>';
divloader.datastore+='  <td><input type=text size=10 name=target_date id=target_date>';
divloader.datastore+='&nbsp;</td>';
divloader.datastore+='</tr>';
divloader.datastore+='<tr>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[STATUSLABEL]]:</td>';
divloader.datastore+='  <td><select name=status>';
divloader.datastore+='    <option selected value=> [[STATUS_OPTIONLIST]]';
divloader.datastore+='  </select></td>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[STATUS_WHITEBOARDLABEL]]:</td>';
divloader.datastore+='  <td><input name=status_whiteboard type=text id=target_date style="width:200px;" size=25></td>';
divloader.datastore+='</tr>';
divloader.datastore+='<tr>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[SEVERITYLABEL]]:</td>';
divloader.datastore+='  <td><select name=severity>';
divloader.datastore+='    <option selected value=> [[SEVERITY_OPTIONLIST]]';
divloader.datastore+='  </select></td>';
divloader.datastore+='  <td align=right class="fieldlabel">';
divloader.datastore+='	[[FIXED_INLABEL]]:';
divloader.datastore+='  </td>';
divloader.datastore+='  <td>';
divloader.datastore+='	<input name=fixed_in type=text id=fixed_in size=12>';
divloader.datastore+='  </td>';
divloader.datastore+='<input type=hidden name=viewstate value="hier=[[HIERSTATE]]&mini=[[MINISTATE]]">';
divloader.datastore+='<tr>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[PRIORITYLABEL]]:</td>';
divloader.datastore+='  <td><select name=priority>';
divloader.datastore+='    <option selected value=> [[PRIORITY_OPTIONLIST]]';
divloader.datastore+='  </select></td>';
divloader.datastore+='  <td align="right" class="fieldlabel">[[RESOLUTIONLABEL]]:</td>';
divloader.datastore+='  <td><select name=resolution>';
divloader.datastore+='    <option selected value=> [[RESOLUTION_OPTIONLIST]]';
divloader.datastore+='  </select></td>';
divloader.datastore+='</tr>';
divloader.datastore+='</tr>';
divloader.datastore+='<tr>';
divloader.datastore+='  <td align="right" valign="top" class="fieldlabel">Comment:<font color=red>*</font> </td>';
divloader.datastore+='  <td colspan=3><textarea name="note" cols="45" rows="2" wrap="VIRTUAL" style="width:500px;"></textarea></td>';
divloader.datastore+='</tr>';
divloader.datastore+='<tr align="center">';
divloader.datastore+='  <td colspan="4" class="fieldlabel">';
divloader.datastore+='  <input type=hidden name=idlist id=idlist value="">';
divloader.datastore+='  <input type=hidden name=queryid id=queryid value="">';
divloader.datastore+='  <input id=bulksubmit value="Apply these changes to all selected (checked) records" type=submit>';
divloader.datastore+='  <br>';
divloader.datastore+='  <span style="text-decoration:none;font-weight:normal;">Suppress email notifications ';
divloader.datastore+='  <input type=checkbox name=suppress value=1></span>';
divloader.datastore+='  </td>';
divloader.datastore+='</tr>';
divloader.datastore+='</table>';
divloader.datastore+='</form>';
divloader.area.innerHTML=divloader.datastore;

function setupbulksubmit() {
	document.getElementById('idlist').value=getRecordList();
	document.getElementById('queryid').value=document.getElementById('queryidval').value;
}

document.getElementById('bulksubmit').onclick=setupbulksubmit;
var targetdateselector= new Ext.form.DateField({format: 'Y/m/d'});
targetdateselector.applyToMarkup('target_date');
var startdateselector= new Ext.form.DateField({format: 'Y/m/d'});
startdateselector.applyToMarkup('start_date');
