<html><head><title></title><SCRIPT LANGUAGE=JAVASCRIPT></SCRIPT></head><body><h3>System Administration</h3><table width="95%"><tbody><tr><td><h3>Keywords</h3></td><td><br></td></tr><tr><td valign="top">[[MENUHTML]]<br></td><td>These are the keywords currently defined in the system.<hr align="left" width="400"><table><tbody><tr><td>Keyword</td><td colspan="2">Description</td></tr>[[BEGIN1]]<tr><td>[[KEYWORD]]</td><td>[[DESC]]</td><td><a href="editsystem.cgi?mode=Keywords&amp;delete=[[KEYWORDID]]"  onClick="return verify()"></a></td></tr>[[END1]]<tr><td><form method="post" action="editsystem.cgi"><input type="hidden" name="mode" value="Keywords"></form></td></tr></tbody></table></body></html>
