<HTML>
<HEAD>
	<TITLE>Spreadsheet Upload, Synchronize, and Download</TITLE>
<BODY>
	<LINK REL=stylesheet HREF="./traq.css" TYPE="text/css">

<CENTER>
<TABLE  STYLE="margin:15px;" CLASS=form_table CELLPADDING=4 CELLSPACING=0>
<TR CLASS=form_header>
	<TD COLSPAN=3><B><CENTER>Upload, Synchronize, and Download</CENTER></B></TD>
</TR>

<FORM ENCTYPE="multipart/form-data" ACTION="sync.cgi" METHOD=post>
<INPUT TYPE=HIDDEN NAME=mode VALUE=UPLOAD>

<TR>
	<TD COLSPAN=3 ALIGN=LEFT><B>Step 1: Upload and Synchronize</B></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN=RIGHT>Specification:</TD>
	<TD>
		<SELECT NAME=spec_file>
[[SPEC_OPTIONLIST]]
		</SELECT>
	</TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN=RIGHT>File to Upload:</TD>
	<TD><INPUT STYLE="font-size=10px;" TYPE=FILE NAME=input_file></TD>
</TR>
<TR>
	<TD ALIGN=CENTER COLSPAN=3>
		<INPUT TYPE=CHECKBOX NAME=dry_run VALUE=1>Dry Run (Does Not Update anything)
	</TD>
</TR>
<TR>
	<TD ALIGN=CENTER COLSPAN=3>
		<INPUT TYPE=SUBMIT NAME=sync VALUE='Upload Spreadsheet and Synchronize'>
	</TD>
</TR>

</FORM>

<TR><TD></TD></TR>

<FORM ACTION="sync.cgi" METHOD=post>
<TR>
	<TD COLSPAN=3 ALIGN=LEFT><B>Step 2: Download New Workbook</B></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN=RIGHT>Specification:</TD>
	<TD>
		<SELECT NAME=spec_file>
[[SPEC_OPTIONLIST]]
		</SELECT>
	</TD>
</TR>
<TR>
	<TD></TD>
	<TD COLSPAN=2 ALIGN=CENTER>
		<INPUT TYPE=SUBMIT NAME=export VALUE="Download Synchronized Workbook">
	</TD>
</TR>

</FORM>

</TABLE>
</CENTER>

<HR>


<CENTER>
<TABLE  STYLE="margin:15px;" CLASS=form_table CELLPADDING=4 CELLSPACING=0>
<TR CLASS=form_header>
	<TD COLSPAN=3><B><CENTER>Administration</CENTER></B></TD>
</TR>

<FORM ACTION="sync.cgi" METHOD=post>
<TR>
	<TD COLSPAN=3 ALIGN=CENTER><B>History</B></TD>
</TR>
<TR>
	<TD COLSPAN=3 ALIGN=CENTER>
		<INPUT TYPE=SUBMIT NAME=log VALUE="View Today's Log">
	</TD>
</TR>
</FORM>

<TR></TR>

<FORM ENCTYPE="multipart/form-data" ACTION="sync.cgi" METHOD=post>
<TR>
	<TD COLSPAN=3 ALIGN=CENTER><B>First Time Import</B></TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN=RIGHT>Specification:</TD>
	<TD>
		<SELECT NAME=spec_file>
[[SPEC_OPTIONLIST]]
		</SELECT>
	</TD>
</TR>
<TR>
	<TD></TD>
	<TD ALIGN=RIGHT>First Time File to Import:</TD>
	<TD><INPUT STYLE="font-size=10px;" TYPE=FILE NAME=input_file></TD>
</TR>
<TR>
	<TD>&nbsp;</TD>
	<TD ALIGN=RIGHT>Workbook Date:</TD>
	<TD ALIGN=LEFT><INPUT TYPE=TEXT NAME=input_date>(YYYY-MM-DD)</TD>
</TR>
<TR>
	<TD COLSPAN=3 ALIGN=CENTER>
		<INPUT TYPE=SUBMIT NAME=import VALUE="Import First Workbook (Once Per Spec.)">
	</TD>
</TR>
</FORM>

</TABLE>
</CENTER>

</FORM>

</P>

</BODY>
</HTML>
