<!--
###############################################################
#    Copyright (C) 2001-2007 Isaac Finnegan and Sean Tompkins
#
#    This library is free software; you can redistribute it and/or
#    modify it under the terms of the GNU Lesser General Public
#    License as published by the Free Software Foundation; either
#    version 2.1 of the License, or (at your option) any later version.
#
#    This library is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#    Lesser General Public License for more details.
#
#    You should have received a copy of the GNU Lesser General Public
#    License along with this library; if not, write to the Free Software
#    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
###############################################################
-->
<html>
<head>
<title>Templates</title>
</head>
<link rel="stylesheet" type="text/css" href="[[PISSROOT]]/js/ext-all.css" />
<link rel="stylesheet" type="text/css" href="[[PISSROOT]]/js/xtheme-gray.css" />

<LINK REL=stylesheet HREF="[[PISSROOT]]/traq.css" TYPE="text/css">
<BODY>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<TR class="form_header">
	<td width=15></td>
	<td >
		<div id="container">
    		<div id="toolbar"><a href="[[PISSROOT]]/">Projectraq</a> <a href="[[PISSROOT]]/display_query.cgi?dhtml=1&cat=bug">Find bugs</a> <a href="[[PISSROOT]]/display_query.cgi?dhtml=1&cat=task">Find tasks</a></div>
		</div>
	</td>
	<TD width=65% align=left style="height:35px;padding-left:30px;" valign="middle">
	</TD>
	</TR>
</table>
<form action=templates.cgi method=post name=formname>
<h4>Saved Record Templates for 
<select name=category size=1 onChange="this.form.submit()">
<option value="[[USERID]]">my account
[[BEGINGROUP]]
<option value="g[[groupid]]" [[selected]]>[[groupname]]
[[ENDGROUP]]
</select>
</form>
&nbsp;&nbsp;&nbsp;
<TABLE class=form_table cellpadding=4 cellspacing=0>
<TR class=form_header>
<td><font color=white size=-1><b>Type</b></font></td>
<Td><font color=white size=-1><b>Template</b></font></td>
<Td><font color=white size=-1><b>Short Form Link</b></font></td>
<Td><font color=white size=-1><b>&nbsp;</b></font></td>

</tr>
[[BEGIN1]]
<TR>
<td>
[[type]]
</td>
<td>
	<a href="redir.cgi?method=template&category=[[category]]&templatename=[[name]]&type=[[type]]">[[name]]</a> 
</td>
<td>
<font size=-1>
<a href="[[PROTO]]://[[SERVERNAME]][[PISSROOT]]/redir.cgi?method=template&category=[[category]]&templatename=[[name]]&type=[[type]]&templatefile=shortForm.tmpl" target=_new>
[[PROTO]]://[[SERVERNAME]][[PISSROOT]]/redir.cgi?method=template&category=[[category]]&templatename=[[name]]&type=[[type]]&templatefile=shortForm.tmpl</a>
</font>
</td>
<td>
<font size=-1>
(<a href="deleteTemplate.cgi?template=[[name]]&ref=bug">delete</a>)
</font>
</td></tr>
[[END1]]
</TABLE>
[[FOOTER]]
<script src="[[PISSROOT]]/js/ext-base.js" type="text/javascript"></script>
<script src="[[PISSROOT]]/js/ext-all.js" type="text/javascript"></script>
<script type="text/javascript" src="[[PISSROOT]]/js/ptlib.js"></script>
<script>
[[HEADER]]
</script>

</BODY>
</HTML>
