<HEAD>
<TITLE> Bugtraq Error</TITLE>
<link rel="stylesheet" type="text/css" href="[[PISSROOT]]/js/ext-all.css" />
<link rel="stylesheet" type="text/css" href="[[PISSROOT]]/js/xtheme-gray.css" />

<LINK REL=stylesheet HREF="[[PISSROOT]]/traq.css" TYPE="text/css">
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<TR class="form_header">
	<td width=15></td>
	<td >
		<div id="container">
    		<div id="toolbar"><a href="[[PISSROOT]]/">Projectraq</a> <a href="[[PISSROOT]]/display_query.cgi?dhtml=1&cat=bug">Find bugs</a> <a href="[[PISSROOT]]/display_query.cgi?dhtml=1&cat=task">Find tasks</a></div>
		</div>
	</td>
	<TD width=65% align=left style="height:35px;padding-left:30px;" valign="middle">
	</TD>
	</TR>
</table>


[[HEADER]]<br>
<b>[[TITLE]]</b> [[ERRORSTRING]]<br>
[[SQLLABEL]][[SQL]]
<script src="[[PISSROOT]]/js/ext-base.js" type="text/javascript"></script>
<script src="[[PISSROOT]]/js/ext-all.js" type="text/javascript"></script>
<script type="text/javascript" src="[[PISSROOT]]/js/ptlib.js"></script>

<script>
[[HEADER]]
</script>
[[FOOTER]]
</body>
</html>

