<html>
<head>
<title>BugTraq</title>
<SCRIPT LANGUAGE="JavaScript">
function valid(form) {
  if( 
      (form.short_desc.value == "ShortDescription of Problem") || 
      (form.severity.value == "") ) {
	if(form.templatename.value != "" ) {
		return true;
	}
	alert("Please fill out all required fields");
	return false;
  }
  else {
	return true;
  }
}
function validateTemplate(form) {
	if( form.templatename.value == "" ) {
		alert("Please enter a name for the template.");
		return false;
	}
	else {
		return true;
	}
}
</SCRIPT>

<script type="text/javascript" src="[[PISSROOT]]/js/ptlib.js"></script>
</head>
<BODY onload="window.resizeTo(700,550);" >
<LINK REL=stylesheet HREF="[[PISSROOT]]/traq.css" TYPE="text/css">
<p/>
<p/>
<p/>
<FORM NAME=main METHOD="post" ACTION="processNewBug.cgi" onSubmit="return valid(this);">
<INPUT TYPE=hidden NAME=projectid VALUE="[[PROJECTID_VAL]]">
<INPUT TYPE=hidden NAME=parent VALUE="[[PARENT]]">
<INPUT TYPE=hidden NAME=debug VALUE="[[DEBUG]]">
<INPUT TYPE=hidden NAME=rtype VALUE=[[RTYPE]]>
<input type=hidden name="reporter" value="[[REPORTER_VAL]]">
<input type=hidden name=popup value=1>
<input type=hidden name="assigned_to" value="[[ASSIGNED_TO_VAL]]">
<input type=hidden name=cc value="[[CC_VAL]]">
<input type=hidden name=severity value="[[SEVERITY_VAL]]">
<input type=hidden name=componentid value="[[COMPONENTID_VAL]]">
[[KEYWORDS_VAL]]
<input type=hidden name=status_whiteboard value="Referring URL: [[REFERER]]">
<input type=hidden name="short" value=1>
<input type="hidden" name=target_milestone value="[[TARGET_MILESTONE_VAL]]">
<input type=hidden name=target_date value="[[TARGET_DATE_VAL]]">
<input type=hidden name=start_date value="[[START_DATE_VAL]]">
<input type=hidden name=units_req value="[[UNITS_REQ_VAL]]">
<TABLE WIDTH="600" BORDER="0" CELLSPACING="0" CELLPADDING="2" class=form_table>
	<TR VALIGN="MIDDLE"> 
      <TD ALIGN=right><FONT SIZE="2"><B> <FONT SIZE="3" COLOR="#CC0033">*</FONT> 
        <A HREF="./fielddescriptions.html#Summary" target=descwin>[[SHORTDESCLABEL]]:</a></B></FONT></TD>
      <TD COLSPAN="5"> <FONT SIZE="2"> 
        <INPUT type=text NAME=short_desc maxlength=250 SIZE=45 VALUE="[[SHORT_DESC_DISP]]" style="width:500px;">
        </FONT></TD>
    </TR>
    <TR> 
      <TD ALIGN=right VALIGN=top><FONT SIZE="2"><B><FONT SIZE="3" COLOR="#CC0033">*</FONT> 
        <A HREF="./fielddescriptions.html#Description" target=descwin>[[LONG_DESCLABEL]]:</a></B></FONT></TD>
      <!--  </tr> <tr> -->
      <TD COLSPAN=5> <FONT SIZE="3"> 
        <TEXTAREA WRAP=VIRTUAL NAME=long_desc ROWS=15 COLS=70 style="width:500px;">Referring URL: [[REFERER]]

[[LONG_DESC_DISP]]</TEXTAREA>
        <BR>
        </FONT></TD>
    </TR>
    <TR align="center">
      <TD ALIGN=right VALIGN=top><font size=2><B>
       <A HREF="./fielddescriptions.html#feedback_email" target=descwin>[[FEEDBACK_EMAILLABEL]]:</a></B></FONT></TD>
	<td colspan=5>
<input type=text name=feedback_email id=feedback_email size=45 maxlength=200 value="[[FEEDBACK_EMAIL_VAL]]" style="width:500px;" onchange="SetCookie('feedback_email',this.value)">
<script>document.main.feedback_email.value=GetCookie('feedback_email');</script>
        </TD>
    </TR>
    <TR align="center"> 
      <TD COLSPAN="6" VALIGN=top> 
        <input type="submit" name="Submit" value="Submit">
        <CENTER>
        </CENTER></TD>
    </TR>
  </TABLE>
  </FORM>
</body>
</html>
