<html>
<head><title>View Components</title></head>
<body>
<LINK REL=stylesheet HREF="[[PISSROOT]]/traq.css" TYPE="text/css">
<h2>Components for [[PROJECTNAME]]</h2>
<form>
[[BEGIN1]]
<table>
<Tr><td><b>Component:</td><td>[[component]]</td></tr>
<Tr><td><b>Description:</td><td>[[description]]</td></tr>
<tr><td><b>Default Owner:</td><td>[[initialowner]]</td><td><b>Default SQE Contact:</td><td>[[initialqacontact]]</td></tr>
</table>
<hr>
[[END1]]
</form>
</BODY>
</HTML>
